// colors
$grey: #456745;

// page
$primary: #324558;

// nav
$nav-background: white;
$nav-link-color: $grey;
$nav-text-color: orange;

// graph
$progress-bg-color: #ddd;
$progress-fg-color: #DE5577;
$progress-text-color: #333;
